<div class="about-me__container full-width full-height">
    <div class="about-me__title">
        <h4>Sobre mí</h4>
        <button class="btn-download-cv">
            <mat-icon>arrow_drop_down_circle</mat-icon>
            <span>DESCARGAR CV   </span>
        </button>
    </div>
    <div class="about-me__description">
        <p>Me especializo en el desarrollo de aplicativos web , tanto Frontend y Backend. En tecnologias como Angular, NodeJS, PHP, MySql, Postgresql, MongoDB. Ultimamente estoy incursionando en desarrollo para aplicativos moviles con Flutter. En mi experiencia como desarrollador e trabajado para proyectos del rubro de la educación y otros proyectos pequeños para micro-empresas, soy una persona que trabaja en equipo para alcanzar los objetivos deseados, solidario y comprometido</p>
    </div>
    <div class="about-me__bubbles">
        <div class="bubble-orange"></div>
        <div class="bubble-violet">

        </div>
    </div>
</div>