.news-header {
    margin-left: 10px;
}
.news-content {
    margin: 10px;
    .card-news {
        margin: 16px 0;
        .img-news {
            figure {
                img {
                    width: 180px;
                    height: 150px;
                }
            }
        }
        .detail-news {
            padding: 10px;
        }
    }
}
