<div>
    <div class="news-header">
        <h3>Ultimos articulos</h3>
    </div>
    <div class="news-content">
        <mat-card class="card-news" *ngFor="let item of [1,2,3,4,5,6,7,8]">
            <mat-card-content>
                <div class="flex">
                    <div class="img-news">
                        <figure>
                            <img src="assets/images/img-dbz.jpg" alt="Monton de post-its"/>
                        </figure>
                    </div>
                    <div class="detail-news">
                        <h4 class="detail-news-title">Título</h4>
                        <div class="detail-news-description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, deserunt! Animi voluptatem expedita ex voluptates dolorum, ut earum vel officiis, odio, hic eos nobis assumenda modi cum ab quas fugit.</p>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
