<header class="header">
  <nav class="navbar">
    <div class="logo">LOGOTIPO</div>
    <span class="spacer"></span>
    <ul class="nav-menu">
      <li><a routerLink="/" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">INICIO</a></li>
      <li><a routerLink="/courses" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">CURSOS</a></li>
      <li><a routerLink="/articles" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">ARTICULOS</a></li>
      <li><a routerLink="/about" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">SOBRE MÍ</a></li>
    </ul>
    <mat-form-field>
      <mat-label>Buscar contenido</mat-label>
      <input matInput placeholder="" autocomplete="off">
    </mat-form-field>
  </nav>
</header>