<header class="header">
  <nav class="navbar">
    <div class="logo">LOGOTIPO</div>
    <span class="spacer"></span>
    <div class="nav-menu">
      <a [routerLink]="['/']">INICIO</a>
      <a [routerLink]="['/courses']">CURSOS</a>
      <a [routerLink]="['/articles']">ARTICULOS</a>
      <a [routerLink]="['/about']">SOBRE MÍ</a>
    </div>
    <mat-form-field>
      <mat-label>Buscar contenido</mat-label>
      <input matInput placeholder="" autocomplete="off">
    </mat-form-field>
  </nav>
</header>