.header {
    width: 100%;
    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        .logo {
            color: #12203E;
            font-weight: bold;
        }
        .nav-menu {
            list-style-type: none;
            margin-left: 16px;
            margin-right: 16px;
            display: flex;
            justify-content: space-around;
            width: 300px;
            li {
                a {
                    display: block;
                    color: #000;
                    text-decoration: none;
                    font-weight: bold;
                }
                
                // a:active {
                //     opacity: .65;
                //     border-bottom: 2px solid red;
                //     transition: all .1s linear;
                //     line-height: 16px;
                // }
                .active {
                    opacity: .65;
                    border-bottom: 2px solid red;
                    transition: all .1s linear;
                    line-height: 16px;
                }
            }
        }
    }
}