footer {
    height: 100%;
    .footer__container {
        color: #482E9B;
        display: flex;
        justify-content: space-around;
        height: 100%;
        margin: 0 48px;
        align-items: center;
        .footer__social-media {
            display: flex;
            justify-content: center;
            flex: 1;
            .icon-social-media {
                margin: 0 5px;
            }
        }
        .footer__cel, .footer__email {
            font-size: 24px;
            font-weight: bold;
        }
    }
}