<footer>
    <div class="footer__container">
        <div class="footer__cel">
            <span>+39 35 17332323 </span>
        </div>
        <div class="footer__social-media">
            <div class="icon-social-media">
                <img src="assets/images/explorer.png"/>
            </div>
            <div class="icon-social-media">
                <img src="assets/images/explorer.png"/>
            </div>
            <div class="icon-social-media">
                <img src="assets/images/explorer.png"/>
            </div>
        </div>
        .<div class="footer__email">
            <span>jhonatan.meza01@gmail.com</span>
        </div>
    </div>
</footer>