.works__container {
    height: 100%;
    overflow: hidden;
    .works__bubbles {
        height: 120px;
        .bubble__orange {
            width: 80px;
            height: 80px;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background: #FEC369;
            position: relative;
            top: -40px;
            right: -20px;
        }
        .bubble__pink {
            width: 160px;
            height: 160px;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background: #FFE6E6;
            position: relative;
            opacity: 0.3;
        }
        .bubble__pink_1 {
            top: -40px;
        }
        .bubble__pink_2 {
            left: -10px;
        }
    }
    .works__title {
        background-color: #F32132;
        border-radius: 250px 0px 0px 0px;
        -moz-border-radius: 250px 0px 0px 0px;
        -webkit-border-radius: 250px 0px 0px 0px;
        border: 0px solid #000000;
        height: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        h4 {
            font-size: 43px;
            color: #FFFFFF;
        }
    }

    .works__carousel {
        margin: 0 48px;
        position: relative;
        top: -30px;
    }
}