<div class="briefcase__container">
    <div class="briefcase__title">
        <h3>Mis skills</h3>
    </div>
    <div class="briefcase__skills">
        <mat-card class="briefcase__skills-card">
            <mat-card-header>
                <mat-card-title>
                    <h4>Técnicas</h4>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <mat-tab-group mat-align-tabs="start">
                        <mat-tab label="FRONTEND">
                            <app-skill-list [skills]="tecniques.frontend"></app-skill-list>
                        </mat-tab>
                        <mat-tab label="BACKEND">
                            <app-skill-list [skills]="tecniques.backend"></app-skill-list>
                        </mat-tab>
                        <mat-tab label="MOBILE">
                            <app-skill-list [skills]="tecniques.mobile"></app-skill-list>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="briefcase__skills-card">
            <mat-card-header>
                <mat-card-title>
                    <h4>Personales</h4>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="briefcase__skills-card-title">
                    <p>CREATIVIDAD</p>
                </div>
                <div>
                    <p>
                        <ngb-progressbar type="success" textType="white" [value]="25" [showValue]="true"></ngb-progressbar>
                    </p>
                </div>
                <div class="briefcase__skills-card-title">
                    <p>TRABAJO EN EQUIPO</p>
                </div>
                <div>
                    <p>
                        <ngb-progressbar type="success" textType="white" [value]="25" [showValue]="true"></ngb-progressbar>
                    </p>
                </div>
                <div class="briefcase__skills-card-title">
                    <p>COMUNICACIÓN</p>
                </div>
                <div>
                    <p>
                        <ngb-progressbar type="success" textType="white" [value]="25" [showValue]="true"></ngb-progressbar>
                    </p>
                </div>
                <div class="briefcase__skills-card-title">
                    <p>DEDICACIÓN</p>
                </div>
                <div>
                    <p>
                        <ngb-progressbar type="success" textType="white" [value]="25" [showValue]="true"></ngb-progressbar>
                    </p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>