<div class="briefcase__container">
    <div class="briefcase__title">
        <h3>Mis skills</h3>
    </div>
    <div class="briefcase__skills">
        <mat-card class="briefcase__skills-card">
            <mat-card-header>
                <mat-card-title>
                    <h4>Técnicas</h4>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <mat-tab-group mat-align-tabs="start">
                        <mat-tab label="FRONTEND">
                            <div>
                                <div class="briefcase__skills-card-title">
                                    <p>ANGULAR</p>
                                </div>
                                <div>
                                    <p>
                                        <ngb-progressbar type="success" textType="white" [value]="25" [showValue]="true"></ngb-progressbar>
                                    </p>
                                </div>
                            </div>
                            <div>
                                <div class="briefcase__skills-card-title">
                                    <p>JAVASCRIPT</p>
                                </div>
                                <div>
                                    <p>
                                        <ngb-progressbar type="success" textType="white" [value]="25"
                                            [showValue]="true"></ngb-progressbar>
                                    </p>
                                </div>
                            </div>
                            <div>
                                <div class="briefcase__skills-card-title">
                                    <p>PWA</p>
                                </div>
                                <div>
                                    <p>
                                        <ngb-progressbar type="success" textType="white" [value]="25"
                                            [showValue]="true"></ngb-progressbar>
                                    </p>
                                </div>
                            </div>
                            <div>
                                <div class="briefcase__skills-card-title">
                                    <p>JQUERY</p>
                                </div>
                                <div>
                                    <p>
                                        <ngb-progressbar type="success" textType="white" [value]="25"
                                            [showValue]="true"></ngb-progressbar>
                                    </p>
                                </div>
                            </div>
                            <div>
                                <div class="briefcase__skills-card-title">
                                    <p>HTML</p>
                                </div>
                                <div>
                                    <p>
                                        <ngb-progressbar type="success" textType="white" [value]="25"
                                            [showValue]="true"></ngb-progressbar>
                                    </p>
                                </div>
                            </div>
                            <div>
                                <div class="briefcase__skills-card-title">
                                    <p>CSS</p>
                                </div>
                                <div>
                                    <p>
                                        <ngb-progressbar type="success" textType="white" [value]="25"
                                            [showValue]="true"></ngb-progressbar>
                                    </p>
                                </div>
                            </div>
                            <div>
                                <div class="briefcase__skills-card-title">
                                    <p>SASS</p>
                                </div>
                                <div>
                                    <p>
                                        <ngb-progressbar type="success" textType="white" [value]="25"
                                            [showValue]="true"></ngb-progressbar>
                                    </p>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="BACKEND">
                            <div>
                                <div class="briefcase__skills-card-title"><p>NODEJS</p></div>
                                <div><p><ngb-progressbar type="success" textType="white" [value]="25" [showValue]="true"></ngb-progressbar></p></div>
                            </div>
                            <div>
                                <div class="briefcase__skills-card-title"><p>POSTGRESQL</p></div>
                                <div><p><ngb-progressbar type="success" textType="white" [value]="25" [showValue]="true"></ngb-progressbar></p></div>
                            </div>
                            <div>
                                <div class="briefcase__skills-card-title"><p>MYSQL</p></div>
                                <div><p><ngb-progressbar type="success" textType="white" [value]="25" [showValue]="true"></ngb-progressbar></p></div>
                            </div>
                            <div>
                                <div class="briefcase__skills-card-title"><p>PHP(Codeigniter)</p></div>
                                <div><p><ngb-progressbar type="success" textType="white" [value]="25" [showValue]="true"></ngb-progressbar></p></div>
                            </div>
                            <div>
                                <div class="briefcase__skills-card-title"><p>MongoDB</p></div>
                                <div><p><ngb-progressbar type="success" textType="white" [value]="25" [showValue]="true"></ngb-progressbar></p></div>
                            </div>
                            <div>
                                <div class="briefcase__skills-card-title"><p>Net Core</p></div>
                                <div><p><ngb-progressbar type="success" textType="white" [value]="25" [showValue]="true"></ngb-progressbar></p></div>
                            </div>
                            <div>
                                <div class="briefcase__skills-card-title"><p>SQL SERVER</p></div>
                                <div><p><ngb-progressbar type="success" textType="white" [value]="25" [showValue]="true"></ngb-progressbar></p></div>
                            </div>
                            <div>
                                <div class="briefcase__skills-card-title"><p>ORACLE</p></div>
                                <div><p><ngb-progressbar type="success" textType="white" [value]="25" [showValue]="true"></ngb-progressbar></p></div>
                            </div>
                        </mat-tab>
                        <mat-tab label="MOBILE">
                            <div>
                                <div class="briefcase__skills-card-title"><p>FLUTTER</p></div>
                                <div><p><ngb-progressbar type="success" textType="white" [value]="25" [showValue]="true"></ngb-progressbar></p></div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="briefcase__skills-card">
            <mat-card-header>
                <mat-card-title>
                    <h4>Personales</h4>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="briefcase__skills-card-title">
                    <p>CREATIVIDAD</p>
                </div>
                <div>
                    <p>
                        <ngb-progressbar type="success" textType="white" [value]="25" [showValue]="true"></ngb-progressbar>
                    </p>
                </div>
                <div class="briefcase__skills-card-title">
                    <p>TRABAJO EN EQUIPO</p>
                </div>
                <div>
                    <p>
                        <ngb-progressbar type="success" textType="white" [value]="25" [showValue]="true"></ngb-progressbar>
                    </p>
                </div>
                <div class="briefcase__skills-card-title">
                    <p>COMUNICACIÓN</p>
                </div>
                <div>
                    <p>
                        <ngb-progressbar type="success" textType="white" [value]="25" [showValue]="true"></ngb-progressbar>
                    </p>
                </div>
                <div class="briefcase__skills-card-title">
                    <p>DEDICACIÓN</p>
                </div>
                <div>
                    <p>
                        <ngb-progressbar type="success" textType="white" [value]="25" [showValue]="true"></ngb-progressbar>
                    </p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>