.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    .profile {
        display: flex;
        flex-direction: row;
        height: 1009px;
        .profile-name, .profile-img {
            width: 50%;
            height: 100%;
        }
        .profile-name {
            background-color: #ffffff;
        }
        .profile-img {
            background-color: #F62939;
            .menu-nav {
                display: flex;
                justify-content: flex-end;
                li {
                    margin: 10px 24px;
                }
            }
            .img {
                img {
                    position: relative;
                    left: -149px;
                }
            }
        }
    }
}