<div class="container">
  <!-- <header class="header">
    <nav class="navbar">
      <div class="logo">
        LOGOTIPO
      </div>
      <span class="spacer"></span>
      <div class="nav-menu">
        <a href="">CURSOS</a>
        <a href="">ARTICULOS</a>
        <a href="">SOBRE MÍ</a>
      </div>
      <mat-form-field>
        <mat-label>Buscar contenido</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
    </nav>
  </header> -->
  <app-navbar></app-navbar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <!-- <aside class="sidebar">
    <mat-card>
      <mat-card-subtitle>
        <h3>Top de los 5 artículos mas buscados</h3>
      </mat-card-subtitle>
      <mat-card-content>
        <div class="list-sidebar">
          <div class="card-sidebar" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
            <div class="image">Imagen</div>
            <div class="content">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam natus omnis quisquam, explicabo enim
                optio modi neque et! Libero eius aut est quisquam suscipit nesciunt a placeat repellendus id
                accusantium!</p>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </aside> -->
  <app-sidebar></app-sidebar>
  <!-- <footer class="footer">
      <div class="flex">
          <h3>FOOTER</h3>
          <span class="spacer"></span>
          <strong>Desarrollado por Jmeza @2019</strong>
        </div>
  </footer> -->
  <app-footer></app-footer>
</div>
<!-- <router-outlet></router-outlet> -->