<div class="contenedor">
  <header class="header">
    <nav class="navbar">
      <div class="logo">
        LOGOTIPO
      </div>
      <span class="spacer"></span>
      <div class="nav-menu">
        <a href="">CURSOS</a>
        <a href="">ARTICULOS</a>
        <a href="">SOBRE MÍ</a>
      </div>
      <mat-form-field>
        <mat-label>Buscar libro</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
    </nav>
  </header>
  <div class="contenido">
    <h1>Últimos artículos</h1>
    <mat-card>
      <mat-card-content>
        <div class="article">
          <ng-container *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
            <div class="article-content">
              <div class="article-image"></div>
              <div class="article-detail">
                <div>
                  <h3>Título de prueba</h3>
                </div>
                <div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem itaque molestiae adipisci nemo
                    maxime
                    consequatur omnis, aliquam sed laborum ipsa iusto voluptate inventore officia sequi veritatis
                    cupiditate
                    aspernatur at voluptatum.</p>
                </div>
                <div><i>Set 25 del 2019</i></div>
              </div>
            </div>
            <div class="flex-row-center">
              <div class="divider"></div>
            </div>
          </ng-container>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <aside class="sidebar">
    <mat-card>
      <mat-card-subtitle>
        <h3>Top de los 5 artículos mas buscados</h3>
      </mat-card-subtitle>
      <mat-card-content>
        <div class="list-sidebar">
          <div class="card-sidebar" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
            <div class="image">Imagen</div>
            <div class="content">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam natus omnis quisquam, explicabo enim
                optio modi neque et! Libero eius aut est quisquam suscipit nesciunt a placeat repellendus id
                accusantium!</p>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </aside>
  <div class="widget">
    <h3>WIDGET</h3>
  </div>
  <footer class="footer">
    <h3>FOOTER</h3>
  </footer>
</div>
<!-- <router-outlet></router-outlet> -->