.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    .profile {
        display: flex;
        flex-direction: row;
        height: 1009px;
        .profile-name, .profile-img {
            width: 50%;
            height: 100%;
        }
        .profile-name {
            background-color: #ffffff;
        }
        .profile-img {
            background-color: #F62939;
            .menu-nav {
                display: flex;
                justify-content: flex-end;
                li {
                    margin: 10px;
                    .menu-nav-item, .menu-nav-item:hover  {
                        height: 40px;
                        width: 121px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 16px;
                    }
                    .menu-nav-item {
                        background-color: #F62939;
                        color: #D92C3A;
                        a {
                            color: #ffffff;
                        }
                    }
                    .menu-nav-item:hover {
                        background-color: #FFECEE;
                        color: #D92C3A;
                        border-radius: 0px 0px 40px 0px;
                        -moz-border-radius: 0px 0px 40px 0px;
                        -webkit-border-radius: 0px 0px 40px 0px;
                        border: 0px solid #000000;
                        a {
                            color: #D92C3A;
                        }
                    }
                    
                }
            }
            .img {
                img {
                    position: relative;
                    left: -149px;
                }
            }
        }
    }
    .about-me, .briefcase, .contact-me {
        height: 400px;
    }
    .works {
        height: 500px;
    }
    .footer {
        height: 200px;
    }
}