<!--footer--------------->
<footer>
    <!--heading-->
    <p>Alcanzamos tus metas</p>
    <!--paragraph-->
    <p>Si se puede imaginar, se puede programar</p>
    <!--social-->
    <div class="social-icons">
        <a [href]="PATH_TELEGRAM" target="_blank"><i class="fab fa-telegram"></i></a>
    <a [href]="PATH_GITHUB" target="_blank"><i class="fab fa-github"></i></a>
    <a [href]="PATH_LINKEDIN" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <!--copyright-->
    <p class="copyright">Copyright by Jmeza</p>
</footer>