<!--footer--------------->
<footer>
    <!--heading-->
    <p>Going-To Internet</p>
    <!--paragraph-->
    <p>I makeas soon as possibale.You really like my work,if you don&#8217;t i change this until you like I give you
        seticfaction result</p>
    <!--social-->
    <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
    <!--copyright-->
    <p class="copyright">Copyright by Goin-To Internet</p>
</footer>