<div class="contact-me__container">
    <div class="bubble-violet bubble-violet-1"></div>
    <div class="contact-me__description">
        <div class="contact-me__title">
            <h4>¿Quieres trabajar conmigo?</h4>
            <div class="contact-me__sub-title">
                <span>Simplemente llame o envíe un mensaje</span>
            </div>
        </div>
        <button class="contact-me__button-hire-me">CONTRATAME</button>
    </div>
    <div class="bubble-violet bubble-violet-2"></div>
</div>