<!-- <aside class="sidebar">
    <mat-card>
      <mat-card-subtitle>
        <h3>Top de los 5 artículos mas buscados</h3>
      </mat-card-subtitle>
      <mat-card-content>
        <div class="list-sidebar">
          <div class="card-sidebar" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
            <div class="image">Imagen</div>
            <div class="content">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam natus omnis quisquam, explicabo enim
                optio modi neque et! Libero eius aut est quisquam suscipit nesciunt a placeat repellendus id
                accusantium!</p>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </aside> -->
  <aside class="sidebar">
  </aside>