<!--projects-container---------------------------->
<div class="projects">
    <!--text-->
    <div class="projects-text ">
        <p>Proyectos</p>
    </div>
    <div class="box-container">
        <!--1------------->
        <div class="box-1">
            <span>1</span>
            <p class="heading">Dise&ntilde;o WEB</p>
            <p class="details">¡Proximamente!</p>
            <button>Leer m&aacute;s</button>
        </div>
        <!--2------------->
        <div class="box-2">
            <span>2</span>
            <p class="heading">Desarrollo WEB</p>
            <p class="details">Se implementa de principio a fin, para frontend, backend y base de datos...</p>
            <button>Leer m&aacute;s</button>
        </div>
        <!--3------------->
        <div class="box-3">
            <span>3</span>
            <p class="heading">Security SEO</p>
            <p class="details">¡Proximamente!</p>
            <button>Leer m&aacute;s</button>
        </div>
    </div>
</div>