<!--projects-container---------------------------->
<div class="projects" id="projects">
    <!--text-->
    <div class="projects-text ">
        <p>Proyectos</p>
    </div>
    <div class="box-container">
        <!--1------------->
        <div class="box-project" *ngFor="let project of PROJECTS; let i = index;">
            <span>{{i+1}}</span>
            <p class="heading">{{project.header}}</p>
            <p class="details">{{project.details}}</p>
            <button *ngIf="!project.url">Leer m&aacute;s</button>
            <button *ngIf="project.url" (click)="redirectProject(project.url)">Leer m&aacute;s</button>
        </div>
    </div>
</div>