.logo {
    width: 100%;
    p {
        font-weight: bold;
        font-size: 48px;
        margin-left: 20%;
    }
}
.presentation {
    font-family: 'roboto';
    header {
        margin-top: 33%;
        margin-left: 10%;
        h3 {
            color: #482E9B;
            font-size: 30px;
        }
        h1 {
            color: #F32132;
            font-size: 85px;
        }
        h4 {
            color: #505081;
            font-size: 15px;
        }
    }   
}

.social-media {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    .card-media {
        box-shadow: 0 4px 54px 0 rgba(0, 0, 0, 0.1);
        padding: 16px;
        text-align: center;
        background-color: #FFFFFF;
        width: 50px;
        height: 40px;
        margin: 0 12px;
    }
}