<div class="full-witdh full-height">
    <div class="logo">
        <p>LOGO</p>
    </div>
    <div class="presentation">
        <header>
            <h3>Hola, yo soy</h3>
            <h1>Jhonatan Meza I.</h1>
            <h4>Desarrollador WEB</h4>
        </header>
    </div>
    <div class="social-media">
        <div class="card-media">
            <img src="assets/images/explorer.png"/>
        </div>
        <div class="card-media">
            <img src="assets/images/linkedin.png"/>
        </div>
        <div class="card-media">
            <img src="assets/images/twitter.png"/>
        </div>
    </div>
</div>