<div class="container-about">
    <div class="about-header">
        <div class="img-profile">
            <figure>
                <img src="assets/images/img-dbz.jpg" alt="Monton de post-its"/>
            </figure>
        </div>
        <div class="description-profile">
            <h3>Jhonatan M. Meza Inca</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ipsa tempore ullam nostrum eaque maiores autem, repellendus voluptatem! Dolore temporibus omnis iusto illum mollitia consequuntur, vitae nisi repellat saepe quasi!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ipsa tempore ullam nostrum eaque maiores autem, repellendus voluptatem! Dolore temporibus omnis iusto illum mollitia consequuntur, vitae nisi repellat saepe quasi!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ipsa tempore ullam nostrum eaque maiores autem, repellendus voluptatem! Dolore temporibus omnis iusto illum mollitia consequuntur, vitae nisi repellat saepe quasi!</p>
        </div>
    </div>
    <div class="about-body">
        <div class="container-a2">
            <h3>Proyectos</h3>
            <div>
                <ul class="caption-style-2">
                    <li>
                        <img src="https://smiledu.com/assets/images/smiledu/smiledu--logo-text.png" alt="">
                        <div class="caption" (click)="openTab('https://smiledu.com/')">
                            <div class="blur"></div>
                            <div class="caption-text">
                                <h1>Smiledu</h1>
                                <p>Gestión administrativa de escuelas</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="http://www7.quimicasuiza.com/gomedic/assets/images/home-image-land.jpg" alt="">
                        <div class="caption">
                            <div class="blur"></div>
                            <div class="caption-text">
                                <h1>GoMedic</h1>
                                <p>Plataforma de control para visitadores médicos</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>    
    </div>
</div>