<h3>Últimos artículos</h3>
<mat-card>
    <mat-card-content>
        <div class="article">
            <ng-container *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                <div class="article-content">
                    <div class="article-image"></div>
                    <div class="article-detail">
                        <div>
                            <h3>Título de prueba</h3>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem itaque molestiae adipisci
                                nemo
                                maxime
                                consequatur omnis, aliquam sed laborum ipsa iusto voluptate inventore officia sequi
                                veritatis
                                cupiditate
                                aspernatur at voluptatum.</p>
                        </div>
                        <div><i>Set 25 del 2019</i></div>
                    </div>
                </div>
                <div class="flex-row-center">
                    <div class="divider"></div>
                </div>
            </ng-container>
        </div>
    </mat-card-content>
</mat-card>