<div class="about-container">
    <!--img-->
    <img src="assets/images/about-img.png" />
    <!--about-me-text-->
    <div class="about-text">
        <p>Sobre mí</p>
        <p>Desarrollador web</p>
        <p>Hola, me llamo Jhonatan Meza, me dedico al desarrollo web desde 2017. Realize proyectos para sectores educativos y de salud.</p>
        <p>Actualmente hago desarrollo como freelance y pequeños proyectos. Soy un apasionado de la tecnología y los retos que se presentan.</p>
        <button>Contactame</button>
    </div>
</div>