<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="container">
            <img src="https://smiledu.com/assets/images/smiledu/smiledu--logo-text.png" alt="Photo of a Shiba Inu" class="image">
            <div class="middle">
              <div class="text">Smiledu</div>
            </div>
          </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="container">
            <img src="assets/images/gomedic.png" alt="Photo of a Shiba Inu" class="image">
            <div class="middle">
              <div class="text">Gomedic</div>
            </div>
          </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="container">
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" class="image">
            <div class="middle">
              <div class="text">Smiledu</div>
            </div>
          </div>
    </ng-template>
</owl-carousel-o>