@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
	margin: 0;
	padding: 0;
}

body {
	background: #E9ECF4;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

.spacer {
	flex: 1 1 auto;
}

.flex-center-v {
	display: flex;
	align-items: center;
}

.flex-center{
	display: flex;
    justify-content: center;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-row-center {
	display: flex;
	justify-content: center;
	flex-direction: row;
}