@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';


@import "./styles/fonts";


* {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
body {
	background-color: #ffffff;
	// width: 1600px;
	// height: 1009px;
	font-family: 'Raleway';
}

a:link {
	text-decoration: none;
}
  
a:visited {
	text-decoration: none;
}
  
a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

// **************** FLEX ****************
.spacer {
	flex: 1 1 auto;
}

.flex {
	display: flex;
}

.flex-center-v {
	display: flex;
	align-items: center;
}

.flex-center {
	display: flex;
    justify-content: center;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-row-center {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

// **************** WIDTH ****************

.full-width {
	width: 100%;
}

// **************** HEIGHT ****************
.full-height {
	height: 100%;
}

// **************** MARGIN ****************
.m-auto {
	margin: auto !important;
}